/*    #abrirModal {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
*/

    /* Overlay con transición */
    #overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    /* Cuando está activo */
    #overlay.activo {
      opacity: 1;
      visibility: visible;
    }

    /* Modal con animación de escala */
    #modal {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
      max-width: 400px;
      width: 90%;
      text-align: center;
      transform: scale(0.9);
      transition: transform 0.3s ease;
    }

    #overlay.activo #modal {
      transform: scale(1);
    }

    .boton-modal {
      margin: 10px;
      padding: 8px 16px;
      cursor: pointer;
      font-size: 14px;
    }

.modal {
  color: black;
}

.link-puntos {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-size: 1em;
  color: var(--azul3);
  text-decoration: none;
  cursor: pointer;
}
.link-puntos:hover {
  color: var(--amarillo2);
}

.titulo-puntos {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  gap: 18px;
  color: var(--amarillo);
  background: linear-gradient(135deg, var(--rosa2), var(--azul2));
}

/* WWWWWWWWWWWWWWWWWW ESTILOS MUSICALES WWWWWWWWWWWWWWWWWW */
    #overlay-estilos {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    /* Cuando está activo */
    #overlay-estilos.activo {
      opacity: 1;
      visibility: visible;
    }

    /* Modal con animación de escala */
    #modal-estilos {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
      max-width: 500px;
      width: 90%;
      text-align: center;
      transform: scale(0.9);
      transition: transform 0.3s ease;
    }

    #overlayestilos.activo #modal-estilos {
      transform: scale(1);
    }

    .boton-modal-estilos {
      margin: 10px;
      padding: 8px 16px;
      cursor: pointer;
      font-size: 14px;
    }

.modal-estilos {
  color: black;
}

.link-estilos {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-size: 1em;
  color: var(--azul3);
  text-decoration: none;
  cursor: pointer;
}
.link-puntos:hover {
  color: var(--amarillo2);
}

.titulo-estilos {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  gap: 18px;
  color: var(--amarillo);
  background: linear-gradient(135deg, var(--rosa2), var(--azul2));
}